<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>BenchmarkTests</key>
		<dict>
			<key>testDecrypt16MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.69553</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testDecrypt1B()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00055403</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testDecrypt1MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.042329</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testDecrypt250KB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010733</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testDecrypt2MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.084087</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testDecrypt500B()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00046846</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testDecrypt500KB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021435</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testDecrypt8MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.34778</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testEncrypt16MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.46284</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testEncrypt1B()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00026729</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testEncrypt1MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.026835</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testEncrypt250KB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0074836</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testEncrypt2MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.054232</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testEncrypt500B()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00038085</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testEncrypt500KB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01335</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testEncrypt8MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.22524</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testSign16MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.16635</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testSign1B()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00010898</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testSign1MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0094544</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testSign250KB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0028796</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testSign2MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.019374</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testSign500B()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.6518e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testSign500KB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.004977</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testSign8MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.084184</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testVerify16MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12455</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testVerify1B()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00020907</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testVerify1MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.006459</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testVerify250KB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0021533</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testVerify2MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01192</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testVerify500B()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00017242</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testVerify500KB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0033579</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
			<key>testVerify8MB()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.059418</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 10, 2018 at 10:25:49 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
